@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

body {
  background-color: #112b3c;
}

nav {
  display: flex;
  height: 120px;
  /* background-color: hsl(0, 0%, 28%); */
  background-color: rgba(196, 196, 196, 0.28);
  justify-content: space-around;
  align-items: center;
}

nav > a {
  border: 1px solid #efefef;
  background-color: #efefef;
  border-radius: 25px 5px 25px 5px;
  box-sizing: border-box;
  text-align: center;
  width: 230px;
  margin-right: auto;
  margin-left: 35px;
  color: #f66b0e;
  font-size: 40px;
  font-family: 'Calligraffitti', cursive;
  transition: color 0.25s;
}

nav a:hover {
  text-decoration: none;
  color: inherit;
}

nav ul {
  margin-right: 35px;
  list-style: none;
  display: flex;
  width: 604px;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 25px;
  color: #ffffff;
}

nav ul a {
  color: inherit;
  padding: 12px;
}

.profile {
  display: grid;
  grid-template-rows: 70vh;
  grid-template-columns: 30% 70%;
  background-color: #efefef;
  margin: 30px;
  border-radius: 20px;
}

.user-img,
.user-details {
  margin: 20px;

  display: flex;

  justify-content: flex-start;
  flex-direction: column;
}

.user-img {
  align-items: center;
  border: 2px solid #b5d0e1;
  border-radius: 20px;
}

.circle {
  display: flex;
  border: 1px solid #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(231, 176, 99, 0.819);
  color: #112b3c;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 50px;
}

.user-img > div:first-child,
.user-details > div:first-child {
  margin-top: 70px;
}

.user-img * {
  margin: 10px auto;
}

.user-img p {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.user-details h1 {
  border-style: solid;
  border-width: 2px 0;
  border-color: #007bff;
  background-color: rgba(231, 176, 99, 0.819);
  padding: 5px 20px;
  color: #112b3c;
}

.user-details > p {
  /* height: 300px; */
  padding: 20px;
}

.user-details p > span:not(.email) {
  text-transform: capitalize;
}

.user-details p > span {
  display: block;
  margin-top: 12px;
  font-size: 18px;
}
