@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

body {
  background-color: #112b3c;
}

nav {
  display: flex;
  height: 120px;
  /* background-color: hsl(0, 0%, 28%); */
  background-color: rgba(196, 196, 196, 0.28);
  justify-content: space-around;
  align-items: center;
}

nav > a {
  border: 1px solid #efefef;
  background-color: #efefef;
  border-radius: 25px 5px 25px 5px;
  box-sizing: border-box;
  text-align: center;
  width: 230px;
  margin-right: auto;
  margin-left: 35px;
  color: #f66b0e;
  font-size: 40px;
  font-family: 'Calligraffitti', cursive;
  transition: all 0.25s;
}

nav a:hover {
  text-decoration: none;
  color: inherit;
}

nav ul {
  margin-right: 35px;
  list-style: none;
  display: flex;
  width: 604px;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 25px;
  color: #ffffff;
}

nav ul a {
  color: inherit;
  padding: 12px;
}

.form-container {
  /* height: 80vh; */
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form {
  padding: 30px;
  border: 1px solid #efefef;
  border-radius: 15px;
  background-color: #efefef;
  margin-top: 50px;
  width: 80%;
}

form > div {
  margin-top: 20px;
}

form input[type='submit'] {
  border-radius: 15px;
  background-color: #f66b0e;
  width: 140px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-family: 'Montserrat Alternates', sans-serif;
}

input:invalid {
  border-color: rgb(228, 94, 94);
}
