@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");

body {
  background-color: #112b3c;
}

nav {
  display: flex;
  height: 120px;
  /* background-color: hsl(0, 0%, 28%); */
  background-color: rgba(196, 196, 196, 0.28);
  justify-content: space-around;
  align-items: center;
}

.action {
  background-color: rgba(246, 107, 14, 0.68);
}

nav > a {
  border: 1px solid #efefef;
  background-color: #efefef;
  border-radius: 25px 5px 25px 5px;
  box-sizing: border-box;
  text-align: center;
  width: 230px;
  margin-right: auto;
  margin-left: 35px;
  color: #f66b0e;
  font-size: 40px;
  font-family: "Calligraffitti", cursive;
  transition: color 0.25s;
}

nav a:hover {
  text-decoration: none;
  color: inherit;
}

nav ul {
  margin-right: 35px;
  list-style: none;
  display: flex;
  width: 604px;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 25px;
  color: #ffffff;
}

nav ul a {
  color: inherit;
  padding: 12px;
}

.products-container {
  background-color: rgb(38, 38, 38);
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 45% 45%;
  margin: 0 10%;
  padding: 35px;
  min-height: 70vh;
  gap: 0px 10%;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.542);
  backdrop-filter: blur(10px);
}

.product-img p {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: #fff;
}

.product-info {
  border-left: 2px solid rgba(246, 107, 14, 0.68);
  color: white;
  padding-left: 15px;
}

.product-info p span {
  color: white;
  display: block;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
}

.product-info p {
  margin-bottom: 25px;
  font-size: 16px;
  text-transform: capitalize;
  width: 80%;
}

.product-info p:last-child {
  border-top: 1.5px solid rgba(246, 107, 14, 0.68);
  padding-top: 10px;
}
